@import "tailwindcss";

@theme {

  --color-bg-main: #020202;
  --color-border: #212121;
  --color-primary: #d84f75;
  --color-secondary: #39c18f;
  --color-primary-light: #c084fc;
  --color-text-muted: #a0a0a5;
  --color-text-faded: #808085;
  --font-heading: system-ui, 'Segoe UI', Roboto, sans-serif;
}

/* body {
  @apply bg-gray-900 text-gray-200
} */